@charset "UTF-8";

table
{
	margin: auto;
	text-align: center;
	background-color: azure;
	/*border-collapse: collapse;*/
}

.th-left
{
	width: 50%;
}

.th-right
{
	width: 50%;
}

tr
{
	text-align: center;
}